body {
    background-color: lightblue;
    
}

.positioning {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 200px;
    margin-top: -50px;
    margin-left: -100px;
    transform: translate(-30%, -50%);
}

h1 {
    text-align: center;
    margin-left: 100px;
    margin-top: 150px;
}

#start-button {
    font-size: 50px;
    color: white;
    background-color: blue;
    transform: translate(-15%, -50%);
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0, 0.1) ;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    /*display: none;*/
}

#start-button:hover, #start-button:focus, #start-button:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#quizz-interface {
    border: 2px black solid;
    height: 800px;
    width: 800px;
    border-radius: 25px;
    background-color: azure;
    opacity: 0.25;
    display: none;
}

.question {
    text-align: center;
    font-size: 50px;
    margin-top: 5px;
}

.answers {
    display: flex;
    justify-content: center;
}